<header>
    <nav class="flex flex-col items-center space-y-4 mt-6">
        <div class="flex space-x-20 items-center">
            <a href="#sobre" class="text-white text-lg hover:text-gray-300 fira-sans-medium">SOBRE</a>
            <a href="#tecnologias" class="text-white text-lg font-medium hover:text-gray-300 fira-sans-medium">TECNOLOGIAS</a>
            <a href="#projetos" class="text-white text-lg font-medium hover:text-gray-300 fira-sans-medium">PROJETOS</a>
            <a href="#contato" class="text-white text-lg font-medium hover:text-gray-300 fira-sans-medium">CONTATO</a>
            <button
                id="language-btn"
                class="w-10 h-10 bg-cover bg-center rounded-full border-2 border-purple hover:border-blue-400"
                style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg');"
                onclick="">
                PT
            </button>
        </div>     
    </nav>
</header>