<header>
    <nav class="flex flex-col items-center space-y-4 mt-6">
        <div class="flex space-x-20">
            <a href="#sobre" class="text-white text-lg font-medium hover:text-gray-300">SOBRE</a>
            <a href="#tecnologias" class="text-white text-lg font-medium hover:text-gray-300">TECNOLOGIAS</a>
            <a href="#projetos" class="text-white text-lg font-medium hover:text-gray-300">PROJETOS</a>
            <a href="#contato" class="text-white text-lg font-medium hover:text-gray-300">CONTATO</a>
            <button
                id="language-btn"
                class="bg-purple-500 text-white px-4 py-2 rounded-md text-sm font-medium hover:bg-blue-400"
                onclick="">
                PT
            </button>
        </div>     
    </nav>
</header>