<section class="flex flex-col items-center justify-center max-w-[900px] mx-auto mt-32">
    <div class="text-white self-start w-full text-left pl-10 ml-8 text-2xl">
        <h1>Gabriel Detofol</h1>
    </div>
    <div class="text-white self-start w-full text-left archivo-black-regular text-7xl ml-16">
        <h1>Desenvolvedor <span class="block">FullStack.</span></h1>
    </div>
    <div class="flex gap-4 mt-4 self-start w-full text-left pl-10 ml-8">
        <button
              id="language-btn"
              class="w-14 h-14 bg-cover bg-center rounded-full  hover:border-white transition-transform transform hover:scale-110"
              style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT14ZBCSNNYWlTokUoA5XIVbHJ8A3I19DpHVA&s');">
        </button>
        <button
              id="language-btn"
              class="w-14 h-14 bg-cover bg-center rounded-full  hover:border-white transition-transform transform hover:scale-110"
              style="background-image: url('https://www.citypng.com/public/uploads/preview/js-javascript-round-logo-icon-png-7017516947717339mnyf7eumy.png');">
        </button>
        <button
              id="language-btn"
              class="w-14 h-14 bg-cover bg-center rounded-full  hover:border-white transition-transform transform hover:scale-110"
              style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSDKn3vA2YUbXzN0ZC3gALWJ08gJN-Drl15w&s');">
        </button>
        <button
              id="language-btn"
              class="w-14 h-14 bg-cover bg-center rounded-full  hover:border-white transition-transform transform hover:scale-110"
              style="background-image: url('https://miro.medium.com/v2/resize:fit:800/1*8vVF8ETxkCqpmsmo2w64MQ.png');">
        </button>
        <button
              id="language-btn"
              class="w-14 h-14 bg-cover bg-center rounded-full  hover:border-white transition-transform transform hover:scale-110"
              style="background-image: url('https://cdn.pixabay.com/photo/2022/01/30/13/33/github-6980894_640.png');">
        </button>
    </div>
</section>